@require "nib"

global-reset()

html
  height 100%
body
  background #333
  height 100%
  position relative

img
  height 100%

.bigshot
  height 90vh

.shottie-list
  width 100%
  overflow auto
  height 10vh
  position absolute
  bottom 0
  white-space nowrap

.shottie
  display inline-block
  height 10vh