@require "nib"

global-reset()

html
  height 100%
body
  background #333
  height 100%
  position relative

img
  height 100%
  display block
  margin 0 auto

.bigshot
  position relative
  height 90vh

.bigshot__low
  // 
.bigshot__high
  position absolute
  top 0

.shottie-list
  width 100%
  overflow auto
  height 10vh
  position absolute
  bottom 0
  white-space nowrap

.shottie
  cursor pointer
  display inline-block
  height 10vh
  width (@height * (4/3))vh // 4:3 ratio
  background #999
