/*
  TODO:
  - Make small screen styles much better (different layout?)
  - Pretty toggles & buttons
 */

@require "nib"
global-reset()

bg = #273B48
bg-light = #2F4858
primary = #42CCA5
secondary = #CF4A4A

font_stack = "Helvetica Neue", "Helvetica"

bounce = cubic-bezier(0.68, -0.55, 0.265, 1.55);

html
  height 100%
body
  background black
  position relative
  font 1em/1.5 font_stack
  font-weight 200

img
  display block
  margin 0 auto

.container
  overflow hidden
  height 100vh

.bigshot
  position relative
  z-index 999
  width 100%
  height 100%
  text-align center
  transition translateY 400ms bounce
.bigshot__shot
  display block
  background-color bg-light
  height 100%
  background-repeat no-repeat
  background-size contain
  background-position 50% 50%

.bigshot__label
  position absolute
  z-index 1000
  bottom 0.5em
  right 0.5em
  background bg
  border 2px solid primary
  border-radius 20em
  overflow hidden
  transition translateY 300ms bounce
  img
    height 1.6em
    width @height
    float left
  a
    color primary
    padding 0 0.5em
    font-weight 500
    font-size 0.9em
    text-decoration none

.shottie-list
  margin-top 0.5em

.shottie
  position relative
  z-index 500
  cursor pointer
  display inline-block
  height 5em
  width (@height * (4/3))em // 4:3 ratio
  background bg-light
  overflow hidden
  transition all 300ms bounce
  svg
    transition all 300ms bounce
    transform translateY(150%)
    position absolute
    z-index 1
    fill bg
    display block
    height 5vh
    top 2.5vh
    left 0.7vh
  img
    transition all 300ms bounce
    position relative
    z-index 2
    width 100%
.shottie__label
    position absolute
    z-index 3
    color white
    background bg
    border-radius 3px
    line-height 1.2
    padding 0.3em
    display block
    top 0.25em
    right 0.25em
    font-size 0.5em
    font-weight bold
    opacity 0.5

.shottie--active
  background secondary
  width 6vh
  svg
    transform translateY(0)
  img
    transform scale(0.5) translateY(-150%)

.anim-shottie-enter
  opacity 0
  transition all 500ms ease
  width 0
  img
    transition all 500ms ease
    transform translateX(-100%)
.anim-shottie-enter.anim-shottie-enter-active
  opacity 1
  width (10vh * (4/3))vh // 4:3 ratio
  img
    transform translateX(0)

.anim-shottie-leave
  // 
.anim-shottie-leave.anim-shottie-leave-active
  // 
  
.socket-state
  position absolute
  z-index 1000
  bottom 0em
  left 0.5em
  li
    width 0.5em
    display inline-block
    margin-left 0.25em
    svg
      fill secondary
      stroke-width 4
      stroke bg

.anim-socket-state-enter
  transition all 1s ease-in-out
  opacity 0
  transform scale(0)
.anim-socket-state-enter-active
  opacity 1
  transform scale(1)
.anim-socket-state-leave
  transition all 1s ease-in-out
.anim-socket-state-leave-active
  opacity 0
  transform scale(0)

.loadie
  width 3em
  height @width
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  opacity 0.5
  svg
    fill transparent
    stroke primary
    stroke-width 10
    #middle
      opacity 0
      animation mental 1.5s ease-in-out infinite
      transform-origin center center
    #inner
      opacity 0
      animation mental 1.5s ease-in-out infinite 0.25s
      transform-origin center center
  .icon
    position absolute
.loadie--small
  opacity 0.25
  height 1em
  width 1em
  svg
    stroke-width 5


@keyframes mental
  0%
    transform scale(0)
    opacity 0
  50%
    opacity 1
  100%
    transform scale(1)
    opacity 0

.menu
  position absolute
  z-index 1
  top 0
  left 0
  width 100%
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch
  background bg

.category-menu
  display none
  li
    display inline-block
    color secondary
    padding 0.25em 0.5em
    border 2px solid secondary
    font-weight 500
    &:first-child
      border-right none
      border-radius 20em 0 0 20em
    &:last-child
      border-left none
      border-radius 0 20em 20em 0

.done-btn
  background bg
  font-family font_stack
  color secondary
  border 2px solid secondary
  border-radius 20em
  font-size 0.9em
  font-weight 500
  margin-top 0.5em
  margin-left 0.5em

.shot-btn
  @extend .done-btn
  position absolute
  top 0
  left 0
  color primary
  border-color primary

.menu-active
  .bigshot
  .bigshot__label
    transform translateY(100%)